SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c003", MODE="0666", SYMLINK+="camcube-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c004", MODE="0666", SYMLINK+="camboard-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c005", MODE="0666", SYMLINK+="conceptcam-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c006", MODE="0666", SYMLINK+="camboard22-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c007", MODE="0666", SYMLINK+="camboardnano-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c008", MODE="0666", SYMLINK+="camboardmod-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c009", MODE="0666", SYMLINK+="camboardplus-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c28", ATTRS{idProduct}=="c00a", MODE="0666", SYMLINK+="digicam-%k", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2398", ATTRS{idProduct}=="1001", MODE="0666", SYMLINK+="argos3d-%k", GROUP="plugdev"
