<?xml version="1.0"?>
<launch>

  <arg name="processing" default="processing"/>
  <group ns="$(arg processing)">

    <!-- Cloud handler -->
    <node pkg="pmd_camboard_nano" type="pmd_camboard_nano_cloud_statistical_outlier_removal" name="cloud_statistical_outlier_removal">
          <param name="write_to_file" type="bool" value="true"/>
          <param name="meanK" type="int" value="50"/>
          <param name="stdDevMulThresh" type="double" value="1.0"/>
    </node>
  </group>
</launch>
